################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WhiteLagoon.Web/bin/Debug/net8.0
/WhiteLagoon.Infrastructure/bin/Debug/net8.0
/WhiteLagoon.Domain/bin/Debug/net8.0
/WhiteLagoon.Application/bin/Debug/net8.0
/whitelagoon gmail.txt
