<table id="tblBookings" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Check In Date</th>
            <th>Nights</th>
            <th>Total</th>
            <th></th>

        </tr>
    </thead>

    <tbody>
    </tbody>
</table>