@model AmenityVM
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0  py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create New Amenity</h2>
            </div>
        </div>

    </div>
    <div class="card-body border p-4 ">
        <form method="post" class="row">
            <div class="p-3">
                <div class="form-floating py-1 col-12 ">
                    <select asp-for="@Model.Amenity.VillaId" asp-items="@Model.VillaList" class="form-select border shadow"></select>
                    <label class="ms-2" asp-for="Amenity.VillaId"></label>
                    <span asp-validation-for="Amenity.VillaId" class="text-danger"></span>

                </div>

                <div class="form-floating py-1 col-12 ">
                    <input type="text" asp-for="Amenity.Name" class="form-control border shadow " />
                    <label class="ms-2" asp-for="Amenity.Name"></label>
                    <span asp-validation-for="Amenity.Name" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12 ">
                    <input type="text" asp-for="Amenity.Description" class="form-control border shadow " />
                    <label class="ms-2" asp-for="Amenity.Description"></label>
                    <span asp-validation-for="Amenity.Description" class="text-danger"></span>
                </div>


                <div class="row pt-2">
                    <div class="col-6 col-md-3 ">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle me-1"></i>Create
                        </button>
                    </div>

                    <div class="col-6 col-md-3 ">
                        <a asp-controller="amenity" asp-action="index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle me-1"></i>Cancel
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>



@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}